<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Form
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <h1>teste
        <h1>
            <!--<ion-item>
        <ion-label>Jon Snow</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Daenerys Targaryen</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Arya Stark</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Tyrion Lannister</ion-label>
    </ion-item>
-->
            <!--<ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea>
            <ion-input {(ngModel)}="cash"></ion-input>
        </ion-textarea>
    </ion-item>
-->

            <!--<ion-list>
        <ion-item>
            <ion-label>
                Teste
            </ion-label>
            <ion-toggle [(ngModel)]="accept"></ion-toggle>
        </ion-item>
    </ion-list>
-->
            <!--<p>Método Selecionado: {{ paymentMethod}}</p>
    <ion-radio-group [(ngModel)]="paymentMethod">
        <ion-item>
            <ion-label>Money</ion-label>
            <ion-radio slot="start" value="cash"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Credit</ion-label>
            <ion-radio slot="start" value="credit"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Debit</ion-label>
            <ion-radio slot="start" value="debit"></ion-radio>
        </ion-item>
    </ion-radio-group>
-->

            <!--<ion-item>
        <ion-label>Método Selecionado</ion-label>
        <ion-select placeholder="Select One">
            <ion-select-option value="cash"> Dinheiro </ion-select-option>
            <ion-select-option value="debit"> Débito </ion-select-option>
            <ion-select-option value="credit"> Crédito </ion-select-option>
        </ion-select>
    </ion-item>-->

</ion-content>